<!-- <%= form_for @secret, url: { action: "create"} do |f| %>
  <%= f.text_field :title %>
  <%= f.hidden_field :recipient_id, value: @recipient_id  %>
  <%= f.submit "Post your secret" %>
<% end %> -->

<form id='postSecret' action="<%= secrets_url %>" method="post" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="text" name="secret[title]" value="" id="title">

  <input type="hidden" name="secret[recipient_id]" value="<%= @recipient_id %>" id="">

  <p><input class='postSecretButton' type="submit" value="Post a secret"></p>
</form>



<script>

$(function () {
  var postSecretClickHandler = function(){
    $('input.postSecretButton').on('click.postSecretButton', function(event){
      event.preventDefault();
      var $that = $(this);
      $(this).attr("value", "Posting...");
      $(this).prop("disabled", true);

      var title = $('form#postSecret input#title').val();

      var ajaxOptions = {
        url: '<%= secrets_url %>',
        type: "POST",
        data: {'secret': {
          title: title,
          recipient_id: <%= @recipient_id %>
        }
      },
        success: function(secretData){

          $('form#postSecret input#title').val('');

          var $newSecretLi = $('<li></li>').html(secretData.title);
          $('ul.secretsHolder').append($newSecretLi);

          $that.attr("value", "Post a secret");
          $that.removeProp("disabled");
          console.log('success')
        },
        failure: function(){
          console.log('failure');
        }
      };

      console.log(ajaxOptions);
      $.ajax(ajaxOptions)
    });
  };


  postSecretClickHandler();

});
</script>
